{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block content %}
   
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-5 m-auto" style="border:thin">
                <table>
                <form method="POST">
                    {% csrf_token %}
                    <tr>
                        <div class="form-group">
                            <td><label for="exampleFormControlSelect1"> Month  &nbsp; </label></td>
                            <td>
                                <select class="form-control" id="exampleFormControlSelect1" name="month">
                                    <option value="01">Junary</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>

                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td><label for="exampleFormControlSelect1"> Year  &nbsp; </label></td>
                            <td>
                                <select class="form-control" id="exampleFormControlSelect1" name="year">
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>

                            </td>
                        </div>
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 2px;">Submit</button></td>
                    </tr>
                    
                      
                    
                    
                  </form>
                </table>
            </div>
        </div>


    </div>
{% if registered %}

<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-dark btn-sm">Export to PDF</button>
            <button class="btn btn-info btn-sm">Export to Excel</button>
            <div class="card-body">

                <div class="table-responsive">
                
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th scope="col">s/n</th>
                            <th scope="col">install meter nos </th>
                            <th scope="col">capasity</th>
                            <th scope="col">month</th>
                            <th scope="col">year</th>
                            <th scope="col">FY</th>
                            <th scope="col">PBS Code </th>

                          </tr>
                        </thead>
           
                        
                        <tbody>
                          {% for my_data in data %}
                     <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ my_data.install_meter_nos }}</td>
                        <td>{{ my_data.capacity_of_install_meter }}</td>
                        <td>{{ my_data.month }}</td>
                        <td>{{ my_data.year }}</td>
                        <td>{{ my_data.fy }}</td>
                        <td>{{ my_data.pbs_code }}</td>
                          
                      </tr>
                      {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

  
</div>

{% endif %}

    {% endblock content %}
